.app{
    color: rgb(200, 200, 200);
}

.results{
    position: fixed;
    top: 90%;
    left: 1%;
    background-color: wheat;
    padding: 0.5rem;
    border-radius: 2rem;
    font-size: 1rem;
    color : black;
}

.ds-badge{
    border-width: 2px;
    
}

.green{
    border-color: green;
}